FlexboxLayout {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-color: #2ecc71;
}

Button, TextField {
    margin-top: 8;
}

.btn-primary {
    background-color: white;
    color: black;
    margin-left: 0;
    margin-right: 0;
    width: 80%;
}

TextField {
    placeholder-color: white;
    width: 80%;
    text-align: center;
    color: black;
    border-bottom-color: white;
}
